#jumbo {
    text-align: center;
    background-color: slategrey;
    color: white;
    font-family: 'Noto Sans JP', sans-serif;
    border-radius: 25px;
    padding: 10px;
}
#search {
    font-family: 'Noto Sans JP', sans-serif;
    float: left;
    padding-left: 0px;
    font-size: 10px;
}
#searchInput {
    
}
#contentDiv {
    border: 5px solid black;
    min-height: 350px;
}
#localDiv {
    border: 5px solid black;

}
#futureDays {
    min-width: 50px;
    min-height: 50px;
    margin: auto;
}
#fiveDay {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    margin: auto;
    text-decoration: underline;
}